# SPDX-FileCopyrightText: 2026 Adrian PK
# SPDX-License-Identifier: GPL-3.0-only
#
# This file is part of Hatmax. See COPYING for license terms.

Adrian PK <adrianpk@adrianpk.com> AdrianPK <adrianpk@adrianpk.com>
Adrian PK <adrianpk@adrianpk.com> adrianpk <me@adrianpk.com>
